* {
  text-align: center;
}

.bigcard {
  margin: 5%;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header {
  display: flex;
  height: 300px;
  background-color: #9d9d9d;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  margin: 25px 0 20px 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
  display: flex;
  justify-content: space-between;
  width: 25%;
  color: #000000;
}
.info p {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 7px;
  background-color: #ffffff;
}
.repoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
  width: 30%;
  height: 200px;
}

.repoContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 0px;
  flex-wrap: wrap;
  height: 1000px;
}
